.autonom-home__header {
  background: #000000 url("../img/About/bg-header.png") center/cover no-repeat;
}

.autonom-home__section {
  color: #373737;
}

.autonom-home__block {
  letter-spacing: 0.005em;
  font-size: calc(14px + 2 * ((100vw - 320px) / 1600));
  line-height: 21px;
}

.autonom-home__img-block {
  display: block;
  padding: 30px 0px;
  text-align: center;
}

.autonom-home__img {
  width: 100%;
  display: block;
  padding-bottom: 10px;
}

.autonom-home__img img {
  max-width: 100%;
}

.autonom-home__subscription {
  color: #959595;
  font-weight: 300;
  font-size: calc(12px + 2 * ((100vw - 320px) / 1600));
}

.autonom-home__social span {
  letter-spacing: 0.005em;
  font-size: calc(16px + 2 * ((100vw - 320px) / 1600));
  font-weight: 500;
}

.autonom-home-social__links a {
  max-width: 33px;
  max-height: 33px;
}

@media (max-width: 767.98px) {
  .autonom-home__block {
    line-height: 16px;
  }

  .autonom-home__img-block {
    padding: 20px 0px;
  }
}

.webp .autonom-home__header { background: #000000 url(../img/About/bg-header.webp) center/cover no-repeat; }