.project-header {
  background: url("../img/Project/bg-header.png") center/cover no-repeat;
  color: #373737;
}

.project__section {
  position: relative;
  background: #FCFCFC url("../img/Portfolio/bg-main.png") top right/857px 692px no-repeat;
  padding-bottom: 30px;
}

.project__specifications {
  padding-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 10px;
}

.project__specification {
  display: inline-block;
  padding-right: 15px;
  padding-bottom: 10px;
  font-size: calc(14px + 2 * ((100vw - 320px) / 1600));
}

.project__specification:last-child {
  padding-right: 0px;
}

.project__specification strong {
  font-weight: 500;
}

.project__description {
  font-size: calc(14px + 2 * ((100vw - 320px) / 1600));
  line-height: 19px;
  display: block;
  padding-bottom: 70px;
}

.project__img-decision img {
  width: 100%;
}

.project__title {
  font-family: Philosopher;
  font-size: calc(20px + 8 * ((100vw - 320px) / 1600));
  display: block;
  padding-bottom: 20px;
}

.project-block {
  padding-bottom: 50px;
}

.project-visualization {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
}

.project-visualization__item img {
  display: block;
  width: 100%;
}

.project__also {
  padding-bottom: 10px;
}

.project__also-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
}

.project-also__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #373737;
  font-size: calc(14px + 2 * ((100vw - 320px) / 1600));
}

.project-also__item img {
  display: block;
  width: 100%;
}

.project-also__item:hover {
  color: #B99C5D;
}

.project-also__text {
  display: block;
  padding: 15px 0px;
}

.project__arrow {
  bottom: 0.5%;
}

@media (max-width: 1170px) {
  .project__also-row {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media (max-width: 991.98px) {
  .project__specifications {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 767.98px) {
  .project__description {
    line-height: 16px;
  }

  .project__description {
    padding-bottom: 50px;
  }

  .project-block {
    padding-bottom: 30px;
  }

  .project-visualization {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

@media (max-width: 576.98px) {
  .project__description {
    padding-bottom: 30px;
  }

  .project-visualization {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }

  .project__also-row {
    grid-template-columns: repeat(1, 1fr);
  }
}

.webp .project-header { background: url(../img/Project/bg-header.webp) center/cover no-repeat; }

.webp .project__section { background: #FCFCFC url(../img/Portfolio/bg-main.webp) top right/857px 692px no-repeat; }